# Data, builds, results, and work directories
/data/
/*data*/
/work/
/*work*/
**/work/
/results/
/*results*/
/pipeline/work/
**/.nextflow*
/docs/build/
tests/.nfs*

# External repositories
/external/

# User-specific files
pipeline/nextflow_slurm_custom.config
pipeline/capsule_versions_custom.env
.idea
.claude