params {
    executor      = "local"
    ecephys_path  = "/mnt/c/Users/xiao/git_repo/aind-ephys-pipeline/sample_dataset/nwb"
    results_path  = "/mnt/c/Users/xiao/git_repo/aind-ephys-pipeline/sample_dataset/output"
    params_file   = "/mnt/c/Users/xiao/git_repo/aind-ephys-pipeline/pipeline/active_params.json"
}

DATA_PATH = params.ecephys_path
RESULTS_PATH = params.results_path

process {
    executor = 'local'
    debug = true
    cpus = 8
    memory = '30 GB'
	containerOptions = '--memory-swap=-1 --memory-swappiness 20 --shm-size=4g'

    // change max forks for specific processes to allow multiple forks
    withName: preprocessing {
        maxForks = 1
    }
    withName: spikesort_kilosort4 {
        maxForks = 1
        containerOptions = '--gpus all'
    }
    withName: spikesort_kilosort25 {
        maxForks = 1
        containerOptions = '--gpus all'
    }
    withName: spikesort_spykingcircus2 {
        maxForks = 1
    }
    withName: postprocessing {
        maxForks = 1
    }
    withName: quality_control {
        maxForks = 1
    }
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume DATA_PATH:/tmp/data'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_API_KEY']
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
