spikeinterface==0.104.8
neo==0.14.5
pyvips==2.2.1
sortingview==0.14.2
figpack==0.3.8
figpack-spike-sorting==0.1.15
matplotlib_venn==1.1.2
torch==2.6.0
pynwb==4.0.0
pytz==2025.2
hdbscan==0.8.41
neuroconv==0.9.3
wavpack-numcodecs==0.2.2
hdmf==6.1.0
hdmf-zarr==0.13.0
s3fs==2025.3.0
scipy==1.17.1
seaborn==0.13.2
scikit-learn==1.6.1
aind-data-schema==2.8.1
aind-qcportal-schema==0.6.4
aind-metadata-upgrader==0.17.1
aind-nwb-utils==0.2.6