nextflow.enable.strict = false

process {
    executor = 'local'
    debug = true
    cpus = 2
    memory = '8 GB'
	containerOptions = '--memory-swap=-1 --memory-swappiness 20 --shm-size=4g'
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume $DATA_PATH:/tmp/data --user $(id -u):$(id -g)'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_API_KEY']
}

dag {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/trace.txt'
    overwrite = true
}
